<button class="btn btn-secondary mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  <i class="bi bi-funnel-fill"></i> Filtres
</button>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <div class="row">
      <div class="col-md-6 col-12">
        <h6 class="mt-2">Triés par :</h6>
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
            <i class="bi bi-lightning-fill"></i> Nouveaux produits
          </a>
          <a href="#" class="list-group-item list-group-item-action">
            <i class="bi bi-sort-up"></i> Date d'éxpiration Croissante
          </a>
          <a href="#" class="list-group-item list-group-item-action">
            <i class="bi bi-sort-down-alt"></i> Date d'éxpiration Décroissante
          </a>
        </div>
      </div>
      <div class="col-md-6 col-12">
        <h6 class="mt-2">Catégories :</h6>
        <div class="list-group">
          <label class="list-group-item">
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <input class="form-check-input me-1" type="checkbox" value="">
                Produits frais
              </div>
              <span class="badge rounded-pill bg-light text-dark">5</span>
            </div>
          </label>
          <label class="list-group-item">
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <input class="form-check-input me-1" type="checkbox" value="">
                Produits surgelés
              </div>
              <span class="badge rounded-pill bg-light text-dark">10</span>
            </div>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
