<div class="container my-3">
  <app-searchbar></app-searchbar>
  <div class="mb-3">
    <app-filter></app-filter>
  </div>
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="card border-danger mb-4 mb-xl-0">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h6 class="card-title text-uppercase text-muted mb-0">Boucherie</h6>
              <span class="h4 font-weight-bold mb-0">Poulet</span>
            </div>
            <div class="col-auto">
              <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/271/poultry-leg_1f357.png" alt="" width="30">
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-between align-items-center mt-3">
            <div class="text-muted text-sm">
              <span class="text-danger mr-2"><i class="bi bi-arrow-down"></i> Expire dans 3 jours</span>
              <span class="text-nowrap"> (06/03/2021)</span>
            </div>
            <div class="d-flex">
              <span class="badge rounded-pill bg-light text-dark d-flex align-items-center me-3"><i class="bi bi-bucket-fill me-1"></i> 600 /g</span>
              <a class="btn btn-primary btn-sm rounded-circle me-1" href="#" role="button"><i class="bi bi-pen-fill"></i></a>
              <a class="btn btn-danger btn-sm rounded-circle" href="#" role="button"><i class="bi bi-trash-fill"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="card mb-4 mb-xl-0">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h6 class="card-title text-uppercase text-muted mb-0">Picard</h6>
              <span class="h4 font-weight-bold mb-0">Boulette de viande</span>
            </div>
            <div class="col-auto">
              <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/72/apple/271/falafel_1f9c6.png" alt="" width="30">
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-between align-items-center mt-3">
            <div class="text-muted text-sm">
              <span class="text-success mr-2"><i class="bi bi-arrow-up"></i> Expire dans 15 jours</span>
              <span class="text-nowrap"> (06/04/2021)</span>
            </div>
            <div class="d-flex">
              <span class="badge rounded-pill bg-light text-dark d-flex align-items-center me-3"><i class="bi bi-bucket-fill me-1"></i> 1 /kg</span>
              <a class="btn btn-primary btn-sm rounded-circle me-1" href="#" role="button"><i class="bi bi-pen-fill"></i></a>
              <a class="btn btn-danger btn-sm rounded-circle" href="#" role="button"><i class="bi bi-trash-fill"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
